.product-list {
	.product {
		display: flex;
		align-items: flex-start;
		padding: rem-calc(16) 0;
		border-bottom: 1px solid $gray-100;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			border-bottom: 0;
		}

		.product-info {
			width: 100%;
			padding: 0 rem-calc(16);
			flex: 1;
		}

		.product-header {
			align-items: flex-end;
			padding-top: rem-calc(16);
			padding-bottom: rem-calc(32);
		}

		.product-price {
			display: inline-block;
			font-size: rem-calc(24);
			margin-right: auto;
		}

		.product-price-decimal {
			display: inline-block;
			font-size: rem-calc(16);
			margin-left: rem-calc(5);
			vertical-align: top;
			margin-top: rem-calc(2)
		}

		.product-title {
			font-size: rem-calc(18);
			color: $gray-300;
			text-decoration: none;

			&:hover {
				color: $dark
			}
		}

		.product-location {
			font-size: rem-calc(12);
			color: $gray-300
		}

		.icon-shipping {
			display: inline-block;
			width: rem-calc(18);
			height: rem-calc(18);
			margin-left: rem-calc(8)
		}
	}
}

.product-detail {
	padding: rem-calc(16);

	.thumbnail {
		max-width: rem-cacl(680);
		height: auto
	}

	.product-detail-label {
		font-size: rem-calc(14)
	}

	.product-detail-title {
		font-size: rem-calc(24);
		font-weight: bold;
		padding: rem-calc(16) 0
	}

	.product-detail-price {
		display: flex;
		align-items: flex-start;
		font-size: rem-calc(46);
		padding: rem-calc(16) 0;
	}

	.product-detail-price-decimal {
		font-size: rem-calc(16);
		margin-top: rem-calc(7);
		margin-bottom: rem-calc(5)
	}

	.product-detail-description-label {
		margin: rem-calc(32) 0
	}

	.product-detail-description {
		color: $gray-200;
		line-height: 1.3
	}

	.btn {
		width: 100%;
		margin: rem-calc(16) 0
	}
}
